<div class="wrapper fadeInDown">
  <div id="formContent" class="fadeIn first">
    <!-- Icon -->
    <div class="user-icon">

    </div>

    <!-- Login Form -->
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input formControlName="email" type="email" placeholder="Email" autofocus>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email requerido</div>
        <div *ngIf="f.email.errors.email">Email inválido</div>
      </div>
      <input type="password" formControlName="password" placeholder="Contraseña">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Contraseña requerida</div>
      </div>
      <div *ngIf="errorMessge !== null" class="invalid-feedback">
        {{ errorMessge }}
      </div>
      <input type="submit" value="Entrar">
    </form>
  </div>
</div>
