@import '../../assets/sass/libs/mixins';
@import '../../assets/sass/libs/settings';

@import '../../assets/sass/libs/global';
@import '../../assets/sass/libs/normalize';

@import '../../assets/sass/libs/bootstrap-grid/mixins';
@import '../../assets/sass/libs/bootstrap-grid/settings';
@import '../../assets/sass/libs/bootstrap-grid/grid';
@import '../../assets/sass/libs/components';

.parallax {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/parallax.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.6);
}

.content{
	.entry-title{
		@include em(36);
		font-weight: 400;
		line-height: 1.5;
		margin: 50px 0;
	}

	p{
		@include em(18);
		line-height: 1.5;
		font-weight: 100;
		margin-bottom: 40px;
	}

	figure{
		text-align: center;
		margin-bottom: 40px;
		img{
			max-width: 100%;
			height: auto;
		}

		&.block{
			img{
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		};
	}
}

.text-center{ text-align: center }
.text-left{ text-align: left }
.text-right{ text-align: right }
